@font-face {
    font-family: 'TT Lakes';
    src: url('../style/fonts/TTLakes-Regular.eot');
    src: local('TT Lakes Regular'), local('TTLakes-Regular'),
        url('../style/fonts/TTLakes-Regular.eot?#iefix')
            format('embedded-opentype'),
        url('../style/fonts/TTLakes-Regular.woff') format('woff'),
        url('../style/fonts/TTLakes-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('../style/fonts/TTLakes-Medium.eot');
    src: local('TT Lakes Medium'), local('TTLakes-Medium'),
        url('../style/fonts/TTLakes-Medium.eot?#iefix')
            format('embedded-opentype'),
        url('../style/fonts/TTLakes-Medium.woff') format('woff'),
        url('../style/fonts/TTLakes-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('../style/fonts/TTLakes-Bold.eot');
    src: local('TT Lakes Bold'), local('TTLakes-Bold'),
        url('../style/fonts/TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
        url('../style/fonts/TTLakes-Bold.woff') format('woff'),
        url('../style/fonts/TTLakes-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: 'TT Lakes', sans-serif;
    margin: 0;
    padding: 0;
}


.menu {
    width: 320px;
    height: 980px;
    box-shadow: 20px 0px 35px -5px rgba(0, 0, 0, .2);
}

.menu__header {
    width: 272px;
    padding: 18px 24px;
}

.menu__header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    height: 60px;
    padding: 0;
    font-size: 0;
}

.menu__header__list {
    width: 40px;
    height: 40px;
}

li {
    list-style: none;
}

.menu__header__nav li:nth-child(2) {
    padding-right: 76px;
    margin-right: -14px;
}

.menu__link {
    display: block;
    width: 40px;
    height: 40px;
}

.burger {
    background: url('../style/img/burger.png') no-repeat;
}

.menu__header .logo {
    width: 97px;
    height: 55px;
}

.search {
    background: url('../style/img/search.png') no-repeat;
}

.burger:hover, .search:hover, .chat:hover, .call:hover, .profile:hover {
    opacity: 0.5;
    transition-duration: 1s;
}

.main__menu {
    display: flex;
    flex-direction: column;
    width: 225px;
    height: 640px;
    padding-bottom: 250px;
}

.main__menu__links ul {
    padding: 0;
    margin: 0;
    padding-top: 28px;
    padding-bottom: 268px;
}

.main__menu__links {
    width: 225px;
}

.main__menu__box__links {
    display: flex;
    flex-direction: column;
}

.main__link {
    position: relative;
    width: 100%;
    height: 32px;
    padding-bottom: 22px;
}

.main__menu__links .main__link:nth-child(6) {
    padding-bottom: 0;
}

.main__link__item {
    width: 225px;
}

.main__link a {
    display: inline-block;
    font-weight: 500;
    text-decoration: none;
    color: #000;
    padding-left: 24px;
}

.main__link a:hover, .main__footer-email:hover {
    color: #7e7e82;
    transition-duration: 0.2s;
}

.main__link .active {
    color: #7e7e82;
}

.link-order {
    order: -1;
}

.main__link .active::before {
    content: '';
    display: block;
    position: absolute;

    width: 4px;
    height: 32px;

    border-right: 5px solid #41f6d7;
    border-radius: 10px;

    left: -4px;
    top: -5px;
}

.main__link a:hover::before {
    content: '';
    display: block;
    width: 4px;
    height: 32px;
    border-right: 5px solid #41f6d7;
    border-radius: 10px;
    left: -4px;
    top: -5px;

    position: absolute;
}

.main__link:hover ~ .main__link .active{
    color: black;
}

.main__link:hover ~ .main__link .active::before {
    display: none;
}


.main__footer {
    display: flex;
    flex-direction: column;
    min-width: 220px;
    min-height: 194px;
    right: 0;
    padding: 0;
    padding-left: 24px;
}

.main__footer__links {
    padding-bottom: 16px;
}

.main__footer__list {
    display: flex;
    flex-direction: row;
    min-width: 196px;
    padding: 0;
    margin: 0;
    font-size: 0;
}

.main__footer-link {
    width: 40px;
    height: 40px;
}

.main__footer__list-link {
    display: block;
    width: 40px;
    height: 40px;
    padding-right: 18px;
}

.main__footer-link {
    display: block;
    width: 40px;
    height: 40px;
}

.call {
    background: url('../style/img/call.png') no-repeat;
}

.chat {
    background: url('../style/img/chat.png') no-repeat;
}

.profile {
    background: url('../style/img/profile.png') no-repeat;
}

.main__footer-email {
    font-weight: 500;
    text-decoration: none;
    color: black;
    padding-bottom: 12px;
}

.main__footer-phone {
    font-weight: 700;
    margin: 0;
    padding-bottom: 40px;
}

.main__footer__lang-links {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

.main__footer__lang-links li {
    padding-right: 7px;
}

.main__footer-link-lang, .main__footer-link-abbr {
    font-weight: 500;
    color: #000;
    text-decoration: none;
}

.main__footer__lang-links li .main__footer-link-abbr--active {
    color: #7e7e82;
}

.main__footer__lang-link-item:hover .main__footer-link-abbr {
    color: #7e7e82;
}

.main__footer__lang-link-item:hover ~ .main__footer__lang-link-item .main__footer-link-lang .main__footer-link-abbr--active {
    color: #000;
}

